#page-teacher-form {
  width: 100vw;
  height: 100vh;
}

#page-teacher-form main {
  width: 100%;
  max-width: 74rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  
  overflow: hidden;
  border-radius: 0.8rem;
  background-color: var(--color-box-base);
  
  top: -32px;
}

@media (min-width: 500px) {
  #page-teacher-form .schedule-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }
}

@media (min-width: 700px) {
  #page-teacher-form {
    max-width: 100vw;
  }

  #page-teacher-form main {
    position: relative;
  }

  #page-teacher-form form {
    padding: 0;
  }

  #page-teacher-form fieldset {
    padding: 0 6.4rem
  }

  #page-teacher-form footer {
    padding: 4.0rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}