#available-times .schedule-item:not(:last-child) {
  padding-bottom: 2rem;
  margin-bottom: 1.4rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#available-times legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}

#available-times .schedule-item {
  display: grid;
  grid-template-areas: 
  "materia materia"
  "from to";
  column-gap: 1.6rem;
}

#available-times .select-block {
  grid-area: materia;
}

#available-times .input-block > #from {
  grid-area: from;
}

#available-times .input-block > #to {
  grid-area: to;
}

#available-times .input-block {
  margin-top: 0 !important;
}

@media (min-width: 500px) {
  #available-times .schedule-item {
    grid-template-areas: "materia materia from to";
  }
}